name: Déployer Documentation PEGS

on:
  workflow_dispatch:
  push:
    branches: ["main"]

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Récupérer le code
        uses: actions/checkout@v4

      - name: Installer Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Installer les dépendances (Pour les tests)
        run: pip install markdown jinja2

      # Vérifie qu'aucun fichier n'est vide
      - name: Test 1 - Fichiers vides
        run: python tests/test_vide.py

      # Vérifie qu'un titre2 est suivit d'un paragraphe
      - name: Test 2 - Structure (Titre + Paragraphe)
        run: python tests/test_structure.py

  build:
    runs-on: ubuntu-latest
    needs: test  
    steps:
      - name: Récupérer le code
        uses: actions/checkout@v4

      - name: Installer Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Installer les dépendances (Pour le build)
        run: pip install markdown jinja2

      - name: Générer le site
        run: python build.py

      - name: Préparer pour le web
        run: |
          mkdir public
          mv document_pegs.html public/index.html

      - name: Sauvegarder l'artefact
        uses: actions/upload-pages-artifact@v3
        with:
          path: './public'

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Mettre en ligne sur GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4